<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>POTATOES!!!</title>
  <script src="https://code.jquery.com/jquery-3.1.0.min.js" integrity="sha256-cCueBR6CsyA4/9szpPfrX3s49M9vUU5BgtiJj06wt/s=" crossorigin="anonymous"></script>
  <script src="main.js"></script>
  <link rel="stylesheet" href="style.css">
</head>
<body>
  <h1>POTATOES!!!</h1>

  <h3>Potato List:</h3>
  <ul class='list'></ul>

  <li id='template'><span class='style'>Baked</span> (quantity: <span class='quantity'>1</span>)</li>
</body>
</html>
